
module RBAC-stub 1.0;

require {
	type unconfined_t;
	type httpd_sys_content_t;
	type contributor_t;
	class process dyntransition;
	class dir getattr;
}

#============= contributor_t ==============
allow contributor_t httpd_sys_content_t:dir getattr;

#============= unconfined_t ==============

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
	constrain process { dyntransition } ((r1=unconfined_r eq r2=contributor_r  -Fail-)  or (t1=unconfined_t  eq TYPE_ENTRY -Fail-)  and (t2=contributor_t  eq TYPE_ENTRY -Fail-) ); Constraint DENIED

#	Possible cause is the source role (unconfined_r) and target role (contributor_r) are different.
allow unconfined_t contributor_t:process dyntransition;
