policy_module(lilcmsTE,1.0.0)



gen_require(`
                type fs_t;
				type passwd_file_t;
        ')

######## User type definitions #####
######## user allow domain transition #########

attribute lilcms_user_type;

############################ General news subscribers

lilcms_user(s1)
allow_GN_subscriber(s1)

lilcms_user(s2)
allow_GN_subscriber(s2)

lilcms_user(s3)
allow_GN_subscriber(s3)

lilcms_user(s4)
allow_GN_subscriber(s4)

lilcms_user(s5)
allow_GN_subscriber(s5)

lilcms_user(s6)
allow_GN_subscriber(s6)

lilcms_user(s7)
allow_GN_subscriber(s7)

lilcms_user(s8)
allow_GN_subscriber(s8)

lilcms_user(s9)
allow_GN_subscriber(s9)

lilcms_user(s10)
allow_GN_subscriber(s10)

lilcms_user(s11)
allow_GN_subscriber(s11)

lilcms_user(s12)
allow_GN_subscriber(s12)

lilcms_user(s13)
allow_GN_subscriber(s13)

lilcms_user(s14)
allow_GN_subscriber(s14)

lilcms_user(s15)
allow_GN_subscriber(s15)

lilcms_user(s16)
allow_GN_subscriber(s16)

lilcms_user(s17)
allow_GN_subscriber(s17)

lilcms_user(s18)
allow_GN_subscriber(s18)

lilcms_user(s19)
allow_GN_subscriber(s19)

lilcms_user(s20)
allow_GN_subscriber(s20)

lilcms_user(s21)
allow_GN_subscriber(s21)

lilcms_user(s22)
allow_GN_subscriber(s22)

lilcms_user(s23)
allow_GN_subscriber(s23)

lilcms_user(s24)
allow_GN_subscriber(s24)

lilcms_user(s25)
allow_GN_subscriber(s25)

lilcms_user(s26)
allow_GN_subscriber(s26)

lilcms_user(s27)
allow_GN_subscriber(s27)

lilcms_user(s28)
allow_GN_subscriber(s28)

lilcms_user(s29)
allow_GN_subscriber(s29)

lilcms_user(s30)
allow_GN_subscriber(s30)

lilcms_user(s31)
allow_GN_subscriber(s31)

lilcms_user(s32)
allow_GN_subscriber(s32)

lilcms_user(s33)
allow_GN_subscriber(s33)

lilcms_user(s34)
allow_GN_subscriber(s34)

lilcms_user(s35)
allow_GN_subscriber(s35)

lilcms_user(s36)
allow_GN_subscriber(s36)

lilcms_user(s37)
allow_GN_subscriber(s37)

lilcms_user(s38)
allow_GN_subscriber(s38)

lilcms_user(s39)
allow_GN_subscriber(s39)

lilcms_user(s40)
allow_GN_subscriber(s40)

lilcms_user(s41)
allow_GN_subscriber(s41)

lilcms_user(s42)
allow_GN_subscriber(s42)

lilcms_user(s43)
allow_GN_subscriber(s43)

lilcms_user(s44)
allow_GN_subscriber(s44)

lilcms_user(s45)
allow_GN_subscriber(s45)

lilcms_user(s46)
allow_GN_subscriber(s46)

lilcms_user(s47)
allow_GN_subscriber(s47)

lilcms_user(s48)
allow_GN_subscriber(s48)

lilcms_user(s49)
allow_GN_subscriber(s49)

lilcms_user(s50)
allow_GN_subscriber(s50)

lilcms_user(s51)
allow_GN_subscriber(s51)

lilcms_user(s52)
allow_GN_subscriber(s52)

lilcms_user(s53)
allow_GN_subscriber(s53)

lilcms_user(s54)
allow_GN_subscriber(s54)

lilcms_user(s55)
allow_GN_subscriber(s55)

lilcms_user(s56)
allow_GN_subscriber(s56)

lilcms_user(s57)
allow_GN_subscriber(s57)

lilcms_user(s58)
allow_GN_subscriber(s58)

lilcms_user(s59)
allow_GN_subscriber(s59)

lilcms_user(s60)
allow_GN_subscriber(s60)

lilcms_user(s61)
allow_GN_subscriber(s61)

lilcms_user(s62)
allow_GN_subscriber(s62)

lilcms_user(s63)
allow_GN_subscriber(s63)

lilcms_user(s64)
allow_GN_subscriber(s64)

lilcms_user(s65)
allow_GN_subscriber(s65)

lilcms_user(s66)
allow_GN_subscriber(s66)

lilcms_user(s67)
allow_GN_subscriber(s67)

lilcms_user(s68)
allow_GN_subscriber(s68)

lilcms_user(s69)
allow_GN_subscriber(s69)

lilcms_user(s70)
allow_GN_subscriber(s70)

lilcms_user(s71)
allow_GN_subscriber(s71)

lilcms_user(s72)
allow_GN_subscriber(s72)

lilcms_user(s73)
allow_GN_subscriber(s73)

lilcms_user(s74)
allow_GN_subscriber(s74)

lilcms_user(s75)
allow_GN_subscriber(s75)

lilcms_user(s76)
allow_GN_subscriber(s76)

lilcms_user(s77)
allow_GN_subscriber(s77)

lilcms_user(s78)
allow_GN_subscriber(s78)

lilcms_user(s79)
allow_GN_subscriber(s79)

lilcms_user(s80)
allow_GN_subscriber(s80)

lilcms_user(s81)
allow_GN_subscriber(s81)

lilcms_user(s82)
allow_GN_subscriber(s82)

lilcms_user(s83)
allow_GN_subscriber(s83)

lilcms_user(s84)
allow_GN_subscriber(s84)

lilcms_user(s85)
allow_GN_subscriber(s85)

lilcms_user(s86)
allow_GN_subscriber(s86)

lilcms_user(s87)
allow_GN_subscriber(s87)

lilcms_user(s88)
allow_GN_subscriber(s88)

lilcms_user(s89)
allow_GN_subscriber(s89)

lilcms_user(s90)
allow_GN_subscriber(s90)

lilcms_user(s91)
allow_GN_subscriber(s91)

lilcms_user(s92)
allow_GN_subscriber(s92)

lilcms_user(s93)
allow_GN_subscriber(s93)

lilcms_user(s94)
allow_GN_subscriber(s94)

lilcms_user(s95)
allow_GN_subscriber(s95)

lilcms_user(s96)
allow_GN_subscriber(s96)

lilcms_user(s97)
allow_GN_subscriber(s97)

lilcms_user(s98)
allow_GN_subscriber(s98)

lilcms_user(s99)
allow_GN_subscriber(s99)

lilcms_user(s100)
allow_GN_subscriber(s100)


############################ Sports news subscribers

lilcms_user(s101)
allow_SN_subscriber(s101)

lilcms_user(s102)
allow_SN_subscriber(s102)

lilcms_user(s103)
allow_SN_subscriber(s103)

lilcms_user(s104)
allow_SN_subscriber(s104)

lilcms_user(s105)
allow_SN_subscriber(s105)

lilcms_user(s106)
allow_SN_subscriber(s106)

lilcms_user(s107)
allow_SN_subscriber(s107)

lilcms_user(s108)
allow_SN_subscriber(s108)

lilcms_user(s109)
allow_SN_subscriber(s109)

lilcms_user(s110)
allow_SN_subscriber(s110)

lilcms_user(s111)
allow_SN_subscriber(s111)

lilcms_user(s112)
allow_SN_subscriber(s112)

lilcms_user(s113)
allow_SN_subscriber(s113)

lilcms_user(s114)
allow_SN_subscriber(s114)

lilcms_user(s115)
allow_SN_subscriber(s115)

lilcms_user(s116)
allow_SN_subscriber(s116)

lilcms_user(s117)
allow_SN_subscriber(s117)

lilcms_user(s118)
allow_SN_subscriber(s118)

lilcms_user(s119)
allow_SN_subscriber(s119)

lilcms_user(s120)
allow_SN_subscriber(s120)

lilcms_user(s121)
allow_SN_subscriber(s121)

lilcms_user(s122)
allow_SN_subscriber(s122)

lilcms_user(s123)
allow_SN_subscriber(s123)

lilcms_user(s124)
allow_SN_subscriber(s124)

lilcms_user(s125)
allow_SN_subscriber(s125)

lilcms_user(s126)
allow_SN_subscriber(s126)

lilcms_user(s127)
allow_SN_subscriber(s127)

lilcms_user(s128)
allow_SN_subscriber(s128)

lilcms_user(s129)
allow_SN_subscriber(s129)

lilcms_user(s130)
allow_SN_subscriber(s130)

############################ Economic news subscribers
lilcms_user(s131)
allow_EN_subscriber(s131)

lilcms_user(s132)
allow_EN_subscriber(s132)

lilcms_user(s133)
allow_EN_subscriber(s133)

lilcms_user(s134)
allow_EN_subscriber(s134)

lilcms_user(s135)
allow_EN_subscriber(s135)

lilcms_user(s136)
allow_EN_subscriber(s136)

lilcms_user(s137)
allow_EN_subscriber(s137)

lilcms_user(s138)
allow_EN_subscriber(s138)

lilcms_user(s139)
allow_EN_subscriber(s139)

lilcms_user(s140)
allow_EN_subscriber(s140)

lilcms_user(s141)
allow_EN_subscriber(s141)

lilcms_user(s142)
allow_EN_subscriber(s142)

lilcms_user(s143)
allow_EN_subscriber(s143)

lilcms_user(s144)
allow_EN_subscriber(s144)

lilcms_user(s145)
allow_EN_subscriber(s145)

lilcms_user(s146)
allow_EN_subscriber(s146)

lilcms_user(s147)
allow_EN_subscriber(s147)

lilcms_user(s148)
allow_EN_subscriber(s148)

lilcms_user(s149)
allow_EN_subscriber(s149)

lilcms_user(s150)
allow_EN_subscriber(s150)

lilcms_user(s151)
allow_EN_subscriber(s151)

lilcms_user(s152)
allow_EN_subscriber(s152)

lilcms_user(s153)
allow_EN_subscriber(s153)

lilcms_user(s154)
allow_EN_subscriber(s154)

lilcms_user(s155)
allow_EN_subscriber(s155)

lilcms_user(s156)
allow_EN_subscriber(s156)

lilcms_user(s157)
allow_EN_subscriber(s157)

lilcms_user(s158)
allow_EN_subscriber(s158)

lilcms_user(s159)
allow_EN_subscriber(s159)

lilcms_user(s160)
allow_EN_subscriber(s160)

lilcms_user(s161)
allow_EN_subscriber(s161)

lilcms_user(s162)
allow_EN_subscriber(s162)

lilcms_user(s163)
allow_EN_subscriber(s163)

lilcms_user(s164)
allow_EN_subscriber(s164)

lilcms_user(s165)
allow_EN_subscriber(s165)

lilcms_user(s166)
allow_EN_subscriber(s166)

lilcms_user(s167)
allow_EN_subscriber(s167)

lilcms_user(s168)
allow_EN_subscriber(s168)

lilcms_user(s169)
allow_EN_subscriber(s169)

lilcms_user(s170)
allow_EN_subscriber(s170)

lilcms_user(s171)
allow_EN_subscriber(s171)

lilcms_user(s172)
allow_EN_subscriber(s172)

lilcms_user(s173)
allow_EN_subscriber(s173)

lilcms_user(s174)
allow_EN_subscriber(s174)

lilcms_user(s175)
allow_EN_subscriber(s175)

lilcms_user(s176)
allow_EN_subscriber(s176)

lilcms_user(s177)
allow_EN_subscriber(s177)

lilcms_user(s178)
allow_EN_subscriber(s178)

lilcms_user(s179)
allow_EN_subscriber(s179)

lilcms_user(s180)
allow_EN_subscriber(s180)

############################### ESNews subscribers
lilcms_user(s181)
allow_ESN_subscriber(s181)

lilcms_user(s182)
allow_ESN_subscriber(s182)

lilcms_user(s183)
allow_ESN_subscriber(s183)

lilcms_user(s184)
allow_ESN_subscriber(s184)

lilcms_user(s185)
allow_ESN_subscriber(s185)

lilcms_user(s186)
allow_ESN_subscriber(s186)

lilcms_user(s187)
allow_ESN_subscriber(s187)

lilcms_user(s188)
allow_ESN_subscriber(s188)

lilcms_user(s189)
allow_ESN_subscriber(s189)

lilcms_user(s190)
allow_ESN_subscriber(s190)

lilcms_user(s191)
allow_ESN_subscriber(s191)

lilcms_user(s192)
allow_ESN_subscriber(s192)

lilcms_user(s193)
allow_ESN_subscriber(s193)

lilcms_user(s194)
allow_ESN_subscriber(s194)

lilcms_user(s195)
allow_ESN_subscriber(s195)

lilcms_user(s196)
allow_ESN_subscriber(s196)

lilcms_user(s197)
allow_ESN_subscriber(s197)

lilcms_user(s198)
allow_ESN_subscriber(s198)

lilcms_user(s199)
allow_ESN_subscriber(s199)

lilcms_user(s200)
allow_ESN_subscriber(s200)


############################# Contributors

lilcms_user(s201)
allow_contributor(s201)

lilcms_user(s202)
allow_contributor(s202)

lilcms_user(s203)
allow_contributor(s203)

lilcms_user(s204)
allow_contributor(s204)

lilcms_user(s205)
allow_contributor(s205)

lilcms_user(s206)
allow_contributor(s206)

lilcms_user(s207)
allow_contributor(s207)

lilcms_user(s208)
allow_contributor(s208)

lilcms_user(s209)
allow_contributor(s209)

lilcms_user(s210)
allow_contributor(s210)

lilcms_user(s211)
allow_contributor(s211)

lilcms_user(s212)
allow_contributor(s212)

lilcms_user(s213)
allow_contributor(s213)

lilcms_user(s214)
allow_contributor(s214)

lilcms_user(s215)
allow_contributor(s215)

lilcms_user(s216)
allow_contributor(s216)

lilcms_user(s217)
allow_contributor(s217)

lilcms_user(s218)
allow_contributor(s218)

lilcms_user(s219)
allow_contributor(s219)

lilcms_user(s220)
allow_contributor(s220)


############################## Publishers

lilcms_user(s221)
allow_publisher(s221)

lilcms_user(s222)
allow_publisher(s222)

lilcms_user(s223)
allow_publisher(s223)

lilcms_user(s224)
allow_publisher(s224)

lilcms_user(s225)
allow_publisher(s225)


###### Objects' Types #######

attribute lilcms_post_type;  
attribute lilcms_public_type;

# General news posts 
type GN_post_public_t, lilcms_public_type;
type GN_post_t, lilcms_post_type;

# Sport news posts 
type SN_post_public_t, lilcms_public_type;
type SN_post_t, lilcms_post_type;

# Economic news posts 
type EN_post_public_t, lilcms_public_type;
type EN_post_t, lilcms_post_type;

# Folder types
type publish_folder_t;
type content_folder_t;

allow lilcms_post_type fs_t:filesystem associate;
allow lilcms_public_type fs_t:filesystem associate;

###### action types #######

type readCMS_exec_t;

read_action(readGN)

read_action(readEN)

read_action(readSN)

read_action(readESN)

read_action(readALL)

lilcms_action(writeCMS)

lilcms_action(publishCMS)



###### action to object permissions ######

allow readGN_t GN_post_public_t:file read_file_perms;
allow readGN_t publish_folder_t:dir list_dir_perms;

allow readEN_t GN_post_public_t:file read_file_perms;
allow readEN_t EN_post_public_t:file read_file_perms;
allow readEN_t publish_folder_t:dir list_dir_perms;

allow readSN_t GN_post_public_t:file read_file_perms;
allow readSN_t SN_post_public_t:file read_file_perms;
allow readSN_t publish_folder_t:dir list_dir_perms;

allow readESN_t GN_post_public_t:file read_file_perms;
allow readESN_t SN_post_public_t:file read_file_perms;
allow readESN_t EN_post_public_t:file read_file_perms;
allow readESN_t publish_folder_t:dir list_dir_perms;

allow readALL_t lilcms_post_type:file read_file_perms;
allow readALL_t lilcms_public_type:file read_file_perms;
allow readALL_t publish_folder_t:dir list_dir_perms;
allow readALL_t content_folder_t:dir list_dir_perms;

allow writeCMS_t lilcms_post_type:file write_file_perms;
allow writeCMS_t content_folder_t:dir list_dir_perms;

allow publishCMS_t lilcms_post_type:file read_file_perms;
allow publishCMS_t lilcms_public_type:file { write create open getattr setattr};
allow publishCMS_t publish_folder_t:dir { write add_name list_dir_perms };
allow publishCMS_t content_folder_t:dir list_dir_perms;
publish_extra(publishCMS_t)


##### Generate Users##########

genrate_user(s1)
genrate_user(s2)
genrate_user(s3)
genrate_user(s4)
genrate_user(s5)
genrate_user(s6)
genrate_user(s7)
genrate_user(s8)
genrate_user(s9)
genrate_user(s10)
genrate_user(s11)
genrate_user(s12)
genrate_user(s13)
genrate_user(s14)
genrate_user(s15)
genrate_user(s16)
genrate_user(s17)
genrate_user(s18)
genrate_user(s19)
genrate_user(s20)
genrate_user(s21)
genrate_user(s22)
genrate_user(s23)
genrate_user(s24)
genrate_user(s25)
genrate_user(s26)
genrate_user(s27)
genrate_user(s28)
genrate_user(s29)
genrate_user(s30)
genrate_user(s31)
genrate_user(s32)
genrate_user(s33)
genrate_user(s34)
genrate_user(s35)
genrate_user(s36)
genrate_user(s37)
genrate_user(s38)
genrate_user(s39)
genrate_user(s40)
genrate_user(s41)
genrate_user(s42)
genrate_user(s43)
genrate_user(s44)
genrate_user(s45)
genrate_user(s46)
genrate_user(s47)
genrate_user(s48)
genrate_user(s49)
genrate_user(s50)
genrate_user(s51)
genrate_user(s52)
genrate_user(s53)
genrate_user(s54)
genrate_user(s55)
genrate_user(s56)
genrate_user(s57)
genrate_user(s58)
genrate_user(s59)
genrate_user(s60)
genrate_user(s61)
genrate_user(s62)
genrate_user(s63)
genrate_user(s64)
genrate_user(s65)
genrate_user(s66)
genrate_user(s67)
genrate_user(s68)
genrate_user(s69)
genrate_user(s70)
genrate_user(s71)
genrate_user(s72)
genrate_user(s73)
genrate_user(s74)
genrate_user(s75)
genrate_user(s76)
genrate_user(s77)
genrate_user(s78)
genrate_user(s79)
genrate_user(s80)
genrate_user(s81)
genrate_user(s82)
genrate_user(s83)
genrate_user(s84)
genrate_user(s85)
genrate_user(s86)
genrate_user(s87)
genrate_user(s88)
genrate_user(s89)
genrate_user(s90)
genrate_user(s91)
genrate_user(s92)
genrate_user(s93)
genrate_user(s94)
genrate_user(s95)
genrate_user(s96)
genrate_user(s97)
genrate_user(s98)
genrate_user(s99)
genrate_user(s100)
genrate_user(s101)
genrate_user(s102)
genrate_user(s103)
genrate_user(s104)
genrate_user(s105)
genrate_user(s106)
genrate_user(s107)
genrate_user(s108)
genrate_user(s109)
genrate_user(s110)
genrate_user(s111)
genrate_user(s112)
genrate_user(s113)
genrate_user(s114)
genrate_user(s115)
genrate_user(s116)
genrate_user(s117)
genrate_user(s118)
genrate_user(s119)
genrate_user(s120)
genrate_user(s121)
genrate_user(s122)
genrate_user(s123)
genrate_user(s124)
genrate_user(s125)
genrate_user(s126)
genrate_user(s127)
genrate_user(s128)
genrate_user(s129)
genrate_user(s130)
genrate_user(s131)
genrate_user(s132)
genrate_user(s133)
genrate_user(s134)
genrate_user(s135)
genrate_user(s136)
genrate_user(s137)
genrate_user(s138)
genrate_user(s139)
genrate_user(s140)
genrate_user(s141)
genrate_user(s142)
genrate_user(s143)
genrate_user(s144)
genrate_user(s145)
genrate_user(s146)
genrate_user(s147)
genrate_user(s148)
genrate_user(s149)
genrate_user(s150)
genrate_user(s151)
genrate_user(s152)
genrate_user(s153)
genrate_user(s154)
genrate_user(s155)
genrate_user(s156)
genrate_user(s157)
genrate_user(s158)
genrate_user(s159)
genrate_user(s160)
genrate_user(s161)
genrate_user(s162)
genrate_user(s163)
genrate_user(s164)
genrate_user(s165)
genrate_user(s166)
genrate_user(s167)
genrate_user(s168)
genrate_user(s169)
genrate_user(s170)
genrate_user(s171)
genrate_user(s172)
genrate_user(s173)
genrate_user(s174)
genrate_user(s175)
genrate_user(s176)
genrate_user(s177)
genrate_user(s178)
genrate_user(s179)
genrate_user(s180)
genrate_user(s181)
genrate_user(s182)
genrate_user(s183)
genrate_user(s184)
genrate_user(s185)
genrate_user(s186)
genrate_user(s187)
genrate_user(s188)
genrate_user(s189)
genrate_user(s190)
genrate_user(s191)
genrate_user(s192)
genrate_user(s193)
genrate_user(s194)
genrate_user(s195)
genrate_user(s196)
genrate_user(s197)
genrate_user(s198)
genrate_user(s199)
genrate_user(s200)
genrate_user(s201)
genrate_user(s202)
genrate_user(s203)
genrate_user(s204)
genrate_user(s205)
genrate_user(s206)
genrate_user(s207)
genrate_user(s208)
genrate_user(s209)
genrate_user(s210)
genrate_user(s211)
genrate_user(s212)
genrate_user(s213)
genrate_user(s214)
genrate_user(s215)
genrate_user(s216)
genrate_user(s217)
genrate_user(s218)
genrate_user(s219)
genrate_user(s220)
genrate_user(s221)
genrate_user(s222)
genrate_user(s223)
genrate_user(s224)
genrate_user(s225)








