module lilcmsTE-stub 1.0;

require {
	type unconfined_t;
	type SN_post_public_t;
	type contributor_t;
	type GN_post_t;
	type SN_sub_t;
	type publisher_t;
	type user_home_t;
	type EN_post_t;
	type SN_post_t;
	type shell_exec_t;
	type setroubleshootd_t;
	type proc_t;
	type user_devpts_t;
	type httpd_sys_content_t;
	type ESN_sub_t;
	type fs_t;
	type EN_post_public_t;
	type user_home_dir_t;
	type GN_post_public_t;
	type EN_sub_t;
	type bin_t;
	type GN_sub_t;
	class process dyntransition;
	class chr_file { write getattr };
	class dir { search getattr };
	class file { execute read execute_no_trans relabelfrom getattr relabelto unlink open };
	class filesystem associate;
}

#============= post_t ==============
allow GN_post_t fs_t:filesystem associate;
allow EN_post_t fs_t:filesystem associate;
allow SN_post_t fs_t:filesystem associate;

allow GN_post_public_t fs_t:filesystem associate;
allow EN_post_public_t fs_t:filesystem associate;
allow SN_post_public_t fs_t:filesystem associate;

#============= GN_sub_t ==============
allow GN_sub_t bin_t:file { execute execute_no_trans };
allow GN_sub_t httpd_sys_content_t:dir search;
allow GN_sub_t proc_t:file { read getattr open };
allow GN_sub_t shell_exec_t:file { execute execute_no_trans };
allow GN_sub_t user_devpts_t:chr_file { write getattr };
allow GN_sub_t user_home_dir_t:dir search;
allow GN_sub_t user_home_t:dir getattr;

#============= EN_sub_t ==============
allow EN_sub_t bin_t:file { execute execute_no_trans };
allow EN_sub_t httpd_sys_content_t:dir search;
allow EN_sub_t proc_t:file { read getattr open };
allow EN_sub_t shell_exec_t:file { execute execute_no_trans };
allow EN_sub_t user_devpts_t:chr_file { write getattr };
allow EN_sub_t user_home_dir_t:dir search;
allow EN_sub_t user_home_t:dir getattr;

#============= SN_sub_t ==============
allow SN_sub_t bin_t:file { execute execute_no_trans };
allow SN_sub_t httpd_sys_content_t:dir search;
allow SN_sub_t proc_t:file { read getattr open };
allow SN_sub_t shell_exec_t:file { execute execute_no_trans };
allow SN_sub_t user_devpts_t:chr_file { write getattr };
allow SN_sub_t user_home_dir_t:dir search;
allow SN_sub_t user_home_t:dir getattr;

#============= ESN_sub_t ==============
allow ESN_sub_t bin_t:file { execute execute_no_trans };
allow ESN_sub_t httpd_sys_content_t:dir search;
allow ESN_sub_t proc_t:file { read getattr open };
allow ESN_sub_t shell_exec_t:file { execute execute_no_trans };
allow ESN_sub_t user_devpts_t:chr_file { write getattr };
allow ESN_sub_t user_home_dir_t:dir search;
allow ESN_sub_t user_home_t:dir getattr;

#============= contributor_t ==============
allow contributor_t httpd_sys_content_t:dir search;
allow contributor_t proc_t:file { read getattr open };
allow contributor_t shell_exec_t:file { execute execute_no_trans };
allow contributor_t user_home_dir_t:dir search;
allow contributor_t user_home_t:dir getattr;
allow contributor_t bin_t:file { execute execute_no_trans };
allow contributor_t user_devpts_t:chr_file { write getattr };


#============= publisher_t ==============
allow publisher_t bin_t:file { execute execute_no_trans };
allow publisher_t httpd_sys_content_t:dir search;
allow publisher_t proc_t:file { read getattr open };
allow publisher_t shell_exec_t:file { execute execute_no_trans };
allow publisher_t user_home_dir_t:dir search;
allow publisher_t user_home_t:dir getattr;
allow publisher_t user_devpts_t:chr_file {write getattr};

#============= setroubleshootd_t ==============
allow setroubleshootd_t EN_post_public_t:file getattr;
allow setroubleshootd_t EN_post_t:file getattr;
allow setroubleshootd_t GN_post_public_t:file getattr;
allow setroubleshootd_t GN_post_t:file getattr;
allow setroubleshootd_t SN_post_public_t:file getattr;
allow setroubleshootd_t SN_post_t:file getattr;

#============= unconfined_t ==============
allow unconfined_t EN_sub_t:process dyntransition;
allow unconfined_t ESN_sub_t:process dyntransition;
allow unconfined_t GN_sub_t:process dyntransition;
allow unconfined_t SN_sub_t:process dyntransition;
allow unconfined_t contributor_t:process dyntransition;
allow unconfined_t publisher_t:process dyntransition;



#============= publisher_t ==============


