##########################
#policyID:TE001.pe
##########################

policy_module(lilcmsTE,1.0.0)

### object type declaration
###
###
###

type o1_t;
type o2_t;
type o3_t;
type o4_t;
type o5_t;
type o6_t;
type o7_t;
type o8_t;
type o9_t;
type o10_t;
type o11_t;
type o12_t;
type o13_t;
type o14_t;
type o15_t;
type o16_t;
type o17_t;
type o18_t;
type o19_t;
type o20_t;
type o21_t;
type o22_t;
type o23_t;
type o24_t;
type o25_t;
type o26_t;
type o27_t;
type o28_t;
type o29_t;
type o30_t;
type o31_t;
type o32_t;
type o33_t;
type o34_t;
type o35_t;
type o36_t;
type o37_t;
type o38_t;
type o39_t;
type o40_t;
type o41_t;
type o42_t;
type o43_t;
type o44_t;
type o45_t;
type o46_t;
type o47_t;
type o48_t;
type o49_t;
type o50_t;
type o51_t;
type o52_t;
type o53_t;
type o54_t;
type o55_t;
type o56_t;
type o57_t;
type o58_t;
type o59_t;
type o60_t;
type o61_t;
type o62_t;
type o63_t;
type o64_t;
type o65_t;
type o66_t;
type o67_t;
type o68_t;
type o69_t;
type o70_t;
type o71_t;
type o72_t;
type o73_t;
type o74_t;
type o75_t;
type o76_t;
type o77_t;
type o78_t;
type o79_t;
type o80_t;
type o81_t;
type o82_t;
type o83_t;
type o84_t;
type o85_t;
type o86_t;
type o87_t;
type o88_t;
type o89_t;
type o90_t;
type o91_t;
type o92_t;
type o93_t;
type o94_t;
type o95_t;
type o96_t;
type o97_t;
type o98_t;
type o99_t;
type o100_t;
type o101_t;
type o102_t;
type o103_t;
type o104_t;
type o105_t;
type o106_t;
type o107_t;
type o108_t;
type o109_t;
type o110_t;
type o111_t;
type o112_t;
type o113_t;
type o114_t;
type o115_t;
type o116_t;
type o117_t;
type o118_t;
type o119_t;
type o120_t;
type o121_t;
type o122_t;
type o123_t;
type o124_t;
type o125_t;
type o126_t;
type o127_t;
type o128_t;
type o129_t;
type o130_t;
type o131_t;
type o132_t;
type o133_t;
type o134_t;
type o135_t;
type o136_t;
type o137_t;
type o138_t;
type o139_t;
type o140_t;
type o141_t;
type o142_t;
type o143_t;
type o144_t;
type o145_t;
type o146_t;
type o147_t;
type o148_t;
type o149_t;
type o150_t;
type o151_t;
type o152_t;
type o153_t;
type o154_t;
type o155_t;
type o156_t;
type o157_t;
type o158_t;
type o159_t;
type o160_t;
type o161_t;
type o162_t;
type o163_t;
type o164_t;
type o165_t;
type o166_t;
type o167_t;
type o168_t;
type o169_t;
type o170_t;
type o171_t;
type o172_t;
type o173_t;
type o174_t;
type o175_t;
type o176_t;
type o177_t;
type o178_t;
type o179_t;
type o180_t;
type o181_t;
type o182_t;
type o183_t;
type o184_t;
type o185_t;
type o186_t;
type o187_t;
type o188_t;
type o189_t;
type o190_t;
type o191_t;
type o192_t;
type o193_t;
type o194_t;
type o195_t;
type o196_t;
type o197_t;
type o198_t;
type o199_t;
type o200_t;

